BOT_TOKEN=
ADMIN_IDS=

POSTGRES_DB=cargo
POSTGRES_USER=cargo
POSTGRES_PASSWORD=change_me
POSTGRES_HOST=postgres
POSTGRES_PORT=5432

REDIS_HOST=redis
REDIS_PORT=6379
REDIS_DB=0

TIMEZONE=Asia/Bishkek
LOG_LEVEL=INFO
